{% extends "home.html" %}

{% block content %}

<div class="container text-center">
  <br>
  <div class="row">
    <div class="col">
      <h2> Lista de Projetos </h2>
    </div>
    <div class="col">
        <button type="submit" class="btn btn-primary" onclick="location.href = '{% url 'projeto_adicionar' %}'">
          Adicionar </button>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col">
      <form>
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Digite aqui ..." name="search"
            value="{{ search | default_if_none:'' }}">
          <button class="btn btn-success" type="submit"> Procurar </button>
        </div>
      </form>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Data de criação</th>
            <th> </th>
          </tr>
        </thead>

        <tbody>
          {% for projeto in object_list %}
          <tr>
            <td> <a href="{% url 'projeto_editar' pk=projeto.id %}"> {{ projeto.nome }} </a> </td>
            <td> {{ projeto.dt_criacao }} </td>
            <td> <button type="submit" class="btn btn-outline-info btn-sm"
                onclick="window.open('{% url 'report_pdf' pk=projeto.id %}','_blank')"> PDF </button> </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>










  {% endblock content %}